input {
    display: inline;
}



#chatroom {
	
	height: 500px;
	display: none; 	
	background-image: url("/assets/template.png");
	margin: 70px;
	position: relative;"


}

#content{
	height: 200px;
            width: 400px;
            background: ;
            margin-top:100px;
            margin-left: 500px ;
}

