input {
    display: inline;
}



#topBox {
	color: black;
	height: 20px;
	margin: 70px;
	position: relative;
}

#chatroom {
	
	height: 500px;
	display: none; 	
	background-image: url("/assets/template.png");
	margin: 70px;
	position: relative;"


}

#chooseName {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	background-color: #393636;;

}